<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Task App - Niccolò Fabrizio Pagano O55000281 </title>
    
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="styles/angular-material.min.css">
    <link href="styles/icon.css" rel="stylesheet">
    <!-- App Styles -->
    <link rel="stylesheet" href="styles/style.css">

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-animate.min.js"></script>
    <script src="lib/angular-aria.min.js"></script>
    <script src="lib/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="lib/angular-material.min.js"></script>

    <!-- Code Behind -->
    <script src="app/todoApp.module.js"></script>
    <script src="app/todo.controller.js"></script>
    <script src="app/storage.service.js"></script>
    <script src="app/todoItem.service.js"></script> 
    <script src="app/components/customList.directive.js"></script>
	
	<script src="app/mySorting.filter.js"></script>
    <script src="app/components/customGridList.directive.js"></script>
    <script src="app/todoApp.config.js"></script>


</head>

<body ng-app="todoApp" class="no-scroll">
    <div ng-controller="TodoController as ctrl" class="no-scroll">
        <div layout="column" class="no-scroll">
            <md-toolbar class="md-whiteframe-3dp">
                <div class="md-toolbar-tools" style="background-color:#228b22">
                    <h2>
                        <span>Task App - Niccolò Fabrizio Pagano O55000281</span>
            
                    </h2>
                    <span flex></span>
                    <md-button ng-disabled="ctrl.selectedItem.length == 0" ng-click="ctrl.deleteItems($event)" class="md-icon-button" aria-label="Delete">
                        <md-icon> delete </md-icon>
                    </md-button>
                    <md-button ng-disabled="ctrl.selectedItem.length == 0 || ctrl.selectedItem.length > 1" ng-click="ctrl.updateItem($event)" class="md-icon-button" aria-label="Update">
                        <md-icon> update </md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-content class="no-scroll">
                <md-tabs md-dynamic-height md-border-bottom class="no-scroll">
                    <md-tab label="Todo">
                        <custom-list items="ctrl.items" selected-item="ctrl.selectedItem" filter-function="ctrl.notDone"></custom-list>
                    </md-tab>
                    <md-tab label="Done">
                        <custom-list items="ctrl.items" selected-item="ctrl.selectedItem" filter-function="ctrl.done"></custom-list>
                    </md-tab>
                    <md-tab label="All">
                        <custom-list items="ctrl.items" selected-item="ctrl.selectedItem" filter-function="ctrl.all"></custom-list>
                    </md-tab>

                    <md-tab label="Grid view">
                        <custom-grid-list items="ctrl.items" selected-item="ctrl.selectedItem" filter-function="ctrl.all"></custom-list>
                    </md-tab>

                </md-tabs>
                <md-button class="md-fab md-primary add-button" aria-label="Add Todo" ng-click="ctrl.addTask($event)" style="background-color:#228b22">
                    <md-icon>add</md-icon>
                </md-button>
            </md-content>
        </div>
        </div>
</body>

</html>